:root {
  --font: 'ttfirsneue', sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);

  --white: #ffffff;
  --black: #000000;
  --red: #e22722;
  --red-dark: #bd1818;
  --green: #005a28;
  --green-light: #a9c94c;
  --invalid: #ffe26b;
}

@import 'fonts';
@import 'animation';
@import 'reset';
@import 'typography';
@import 'start_page';
@import 'rules_page';
@import 'game_page';
@import 'buttons';
@import 'popup';
